    <div class="header">
      <h1>To-Do App <i class="glyphicon glyphicon-ok appIcon"></i></h1>
      <!-- user input section -->
      <form name="todoForm" class="rowFlex" novalidate ng-submit="todoForm.$valid && todoAdd()">
        <div class="columnFlex todoInput todoInputName">
          <input type="text" class="taskInput" required name="todo" ng-model="todoInput" placeholder="Enter task">
          <div class="formRequired" ng-show="todoForm.todo.$invalid">
            <span ng-show="todoForm.todo.$error.required">* Required</span>
          </div>
          <div ng-show="todoForm.dueDateInput.$valid" class="requiredPlaceholder"></div>
        </div>
        <div class="columnFlex todoInput todoInputDate">
          <div>
            <input type="text" class="dateInput" required name="dueDateInput" placeholder="Enter due date" show-button-bar="false" datepicker-popup="yyyy-MM-dd" ng-model="dueDateInput" is-open="isOpened" show-weeks="false" />
            <span>
              <button type="button" class="btn btn-default todoDateButton" ng-click="open($event)">
                <i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
          <div class="formRequired" ng-show="todoForm.dueDateInput.$invalid">
            <span ng-show="todoForm.dueDateInput.$error.required">* Required</span>
          </div>
          <div ng-show="todoForm.dueDateInput.$valid" class="requiredPlaceholder"></div>
        </div>
        <div class="columnFlex todoInputAdd">
          <input type="submit" class="btn btn-success todoAddButton" value="Add">
        </div>
      </form>
    </div>

    <div class="rowFlex todoContent">
      <!-- to do list section -->
      <div class="columnFlex todoListSection">
        <div>
          <input type="text" class="todoSearch" ng-model="search" placeholder="Search the list">
        </div>
        <div ng-show="!todoList.length" class="emptyTodoList">Todo list is empty</div>
        <div ng-show="todoList.length" class="todoList">
          <div ng-repeat="item in todoList | filter:search  | orderBy:'-'" class="rowFlex listItem">
            <input type="checkbox" class="todoCheckbox" ng-model="item.done" ng-change="updateDoneStatus(item)">
            <input ng-class="[item.editMode ? 'editMode' : 'nonEditMode', item.done ? 'done' : 'notDone', 'todoListEntry']" ng-model="item.title" ng-readonly="!item.editMode">
            <span class="dueDateEntry" ng-bind="item.start | date:'MMMM dd, yyyy'"></span>
            <span>
              <button type="button" class="btn btn-default todoEditButton" ng-disabled="item.done" ng-click="toggleEditMode(item, $event)">
                <span>{{item.editMode ? 'save' : 'edit'}}</span></button>
            </span>
            <span>
              <button type="button" class="btn btn-default todoDeleteButton" ng-click="removeItem(item)">
                <i class="glyphicon glyphicon-trash"></i></button>
            </span>
          </div>
        </div>
        <p><button class="btn btn-success" ng-show="todoList.length > 1" ng-click="removeAllSelected()">Delete selected</button></p>
      </div>

      <!-- Calendar section -->
      <div class="todoCalendar">
        <div id="calendar" calendar-show todo-list="todoList"></div>
      </div>
    </div>
